Source: wazo-python-asterisk-ari-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.11

Package: python3-asterisk-ari
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 python3-swaggerpy,
 python3-six
Description: Python library for asterisk ARI interface - Python 3
 Library for accessing the Asterisk REST Interface
 .
