Source: wazo-python-asterisk-ari-packaging
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: python-asterisk-ari
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-swaggerpy
Description: Python library for asterisk ARI interface
 .
